body {
    background: whitesmoke;
    flex-direction: column;
  }

  h1 {
      text-align: center;
      font-size: 90px;
      color: #d4d926;
      word-spacing: 20px;
      letter-spacing: 35px;
      font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
      font-variant: normal; 
      font-weight: 900; 
      line-height: 26.4px;
      font-style: bold;
  }

  img {
      width: 200px;
      height: 200px;
      margin-top: 20px;
      border-radius: 50%;
      border: 10px solid;
      margin-left: 110px;
      border-color: #d4d926;
      -moz-box-shadow: 0px 6px 5px #ccc;
      -webkit-box-shadow: 0px 6px 5px #ccc;
      box-shadow: 0px 6px 5px #ccc;
      -moz-border-radius:190px;
      -webkit-border-radius:190px;
      border-radius:190px;
    }

  li {
      list-style-type: none;
  }

  span {
      font-weight: bold;
      word-spacing: 5px;
      letter-spacing: 10px;
      font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
      font-size: 25px; 
      font-style: normal; 
      font-variant: normal;
      font-weight: 700; 
      line-height: 15.4px;
      background-color: #6fc6a5;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
      border-radius:190px;
      color: black;
  }

  blockquote {
      text-align: center;
      font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 20px;
      font-size: 30px;
      word-spacing: 10px;
      letter-spacing: 5px;
      font-size: 20px;

  }

  h2 {
      text-align: center;
      font-size: 35px;
      letter-spacing: 10px;
      font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
      font-style: bold; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 15.4px;
      word-spacing: 20px;
      letter-spacing: 25px;
    background-color: #6fc6a5;
    margin-left: 35%;
    margin-right: 35%;
    padding: 1%;
      border-radius:190px;
      color: black;
  }

  /* h3 {
      text-align: center;
      font-size: 25px;
      color: red;
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 15.4px;
      word-spacing: 15px;
      letter-spacing: 15px;
  } */

  .typewriter h3 {
    color: red;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #d4d926; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 700; 
      line-height: 15.4px;
      word-spacing: 15px;
      letter-spacing: 15px;
      font-size: 25px;
      text-align: center;
  }

  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  

  section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  #subtitle {
      padding: 20px;
      font-size: 40px;
      text-align: center;
      font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
      font-style: normal; 
      font-variant: small-caps; 
      font-weight: 400; 
      line-height: 30px;
      word-spacing: 15px;
      letter-spacing: 5px;
      background-color: #88d0c7;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    border-style:none;
    color: whitesmoke;
    border-radius:190px;
  }

  #quote {
      padding-bottom: 20px;
      padding-top: 10px;
      width: 90%;
      margin-left: 60px;
      border: 3px;
      text-align: center;
      font-size: 20px;
  }

  video {
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1%;
  }

  .centered-elements {
      align-self: center;
  }
.img-gallery {
    width: 300px;
    height: auto;
}

.container {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    letter-spacing: 10px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px;
    border-radius: 15px;
    background-color: #6fc6a5;
    margin: 3%;
    padding: .5%;
    -moz-box-shadow: 0px 6px 5px #ccc;
      -webkit-box-shadow: 0px 6px 5px #ccc;
      box-shadow: 0px 6px 5px #ccc;
      -moz-border-radius:190px;
      -webkit-border-radius:190px;
      border-radius:190px;
}

.column {
    flex: 10%;
    padding: 30px;
    }
    
    .row {
       display: flex;
    }
    

    .dark-mode {
        background-color: black;
        color: white;
    }
video.center {
    border: 150px;
    width: 20%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

strong {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
      font-size: 20px; 
      font-weight: 400; 
      line-height: 20px;
      font-style: italic;
      color: whitesmoke;
}

.info {
    color:#000000;
    text-align: center;
    font-size: 20px;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 35px;
      background-color: #c7dedf;
      color: #05412a;
      margin: 3%;
      padding: .5%;
}

.captions {
    text-align: center;
    font-size: 20px;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
      font-style: normal; 
      font-variant: normal; 
      font-weight: 400; 
      line-height: 20px;
      background-color: #c7dedf;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
      border-radius:190px;
      color: #05412a;
      line-height: 35px;
}
